body { 
  background-image: url("air.jpg");
  color: maroon;
  background-size: cover;
}

h1 {
  font-family: "Courier New";
  position: absolute;
    bottom: 5%;
    width: 50%;
    right: -13%;
}

h2 {
    position: absolute;
    top: 70%;
    left: 7%;

}

select {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(robfav.png) 96% / 15% no-repeat #EEE;
  background-color: #d1d1e0;
  position: absolute;
  left: 52%;
  top: 60%;
  font-size: 15px;
  width: 120px;
  cursor: pointer;
  padding: 5px 35px 5px 5px;
  
  
  height: 34px;
}
/* CAUTION: Internet Explorer hackery ahead */
select::-ms-expand {
    display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
}
/* Target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select {
        background: none\9;
        padding: 5px\9;
    }
}

h3 {
  position: absolute;
  left: 60%;
  top: 58%;
  overflow: scroll;
}

.button {
  position: absolute;
  top: 75%;
  left: 8%;
  color: black;
  background-color: orange;
  padding: 8px;
  text-align: center;
  display: inline-block;
  font-size: 11px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.buttonS1
{
  position: absolute;
  background-color: green;
  border-radius: 12px;
  top: 82%;
  right: 4%;
  padding: 8px;

}

video {
  position: absolute;
  top: 31%;
  left: 7%;
}

canvas {
  border:4px solid #000;
  position: absolute;
  top: 34%;
    left: 51%;
}

footer { 
  font-size:11px;
  color:#aaa; 
  margin-top:10px;

  position: absolute;
    bottom: 10px;
    width: 50%;

}